/* =============
    Weekly-1
============= */
#weekly-1 {
    background-image: url("../img/bestiary/nightwalker.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 40px 0;

    > section {
        article:first-child {
            font-family: 'DM Serif Display', serif;
            padding-top: 245px;
            text-align: right;

            h1 {
                font-size: rem-calc(24);
                font-weight: 400;
                margin-top: -2px;
            }

            h2 {
                font-size: rem-calc(24);
                font-weight: 400;
                margin: 10px 0 245px;
            }
        }

        article+p {
            font-size: rem-calc(14);
            line-height: rem-calc(18);
            padding-bottom: 20px;
            text-align: center;
        }

        p+article {
            padding: 0 10px;
            text-align: justify;

            p:first-child {
                padding-bottom: 20px;
            }
        }
    }
}
