/* =============
    Weekly-2
============= */
#weekly-2 {
    background-color: $primary;
    color: $white;
    @include medium{
        grid-area: 2;
    }

    article:first-child {
        font-family: 'DM Serif Display', serif;
        margin-top: 20px;
        text-align: center;

        h1 {
            font-size: rem-calc(28);
            font-weight: 400;
            padding-bottom: 10px;
        }

        h1+h2 {
            font-size: rem-calc(20);
            font-weight: 400;
            padding-bottom: 0;
        }

        > h2 {
            font-size: rem-calc(16);
            font-weight: 400;
            padding-bottom: 10px;
        }
    }

    article:nth-child(2) {
        padding-bottom: 20px;

        p {
            padding-bottom: 3px;
            @include medium{
                font-size: rem-calc(18);
                line-height: rem-calc(25);
            }
        }
    }

    article:nth-child(3) {
        padding-bottom: 20px;

        p {
            padding-bottom: 3px;
            @include medium{
                font-size: rem-calc(18);
                line-height: rem-calc(25);
            }

            span {
                font-weight: 700;
            }
        }
    }

    article:nth-child(4) {
        padding-bottom: 20px;

        h1 {
            font-size: rem-calc(16);
            padding-bottom: 5px;
            @include medium{
                font-size: rem-calc(18);
                line-height: rem-calc(25);
            }
        }

        p {
            padding-bottom: 3px;
            @include medium{
                font-size: rem-calc(18);
                line-height: rem-calc(25);
            }

            span {
                font-weight: 700;
            }
        }
    }

    nav {
        @include medium{
            display: none;
        }
        section {
            align-items: center;
            display: flex;
            justify-content: space-around;

            input {
                background-color: $white;
                border: none;
                height: 20px;
                margin-left: 40px;
                width: 220px;
                padding-top: 2px;
            }

            h1 {
                background-color: $tertiary;
                border-radius: 5px;
                color: $primary;
                font-size: rem-calc(12);
                padding: 5px 10px;
            }
        }

        p {
            padding: 15px 0;
            text-align: center;
        }
    }
}
