/* =============
    Weekly-1
============= */
#weekly-1 {
    margin-bottom: 40px;
    >aside{
        background-image: url("../img/bestiary/nightwalker.png");
        height: 520px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 40px 0 10px;
        font-family: 'DM Serif Display', serif;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @include small{
            height: 780px;
        }
        h1 {
            font-size: rem-calc(24);
            font-weight: 400;
            margin-top: -2px;
            text-align: right;
            padding-right: 10px;
        }
        h2 {
            font-size: rem-calc(24);
            font-weight: 400;
            margin: 10px;
        }
    }

     div {

        >p {
            font-size: rem-calc(14);
            line-height: rem-calc(18);
            padding: 20px 0;
            text-align: center;
        }

        article {
            padding: 0 10px;
            text-align: justify;

            p:first-child {
                padding-bottom: 20px;
            }
        }
    }
}
